{% extends 'base.html' %}
{% load static %}

{% block title %}Astro{% endblock %}

{% block content %}

    <div class="zero"></div>
    <div class="about" id="about">
        <div class="about-txt">
            <h1>ASTRO</h1>
            <p>Наш сайт посвящён увлекательному миру звёзд и планет, открывающему тайны Вселенной.
                <br> Вы найдёте здесь всю необходимую информацию о ярких звёздах, газовых гигантах, <br>
                ледяных карликах и экзопланетах, вращающихся вокруг далёких светил.</p>
        </div>
        <div class="about-img">
            <img src="\static\css\image\image 1 (1).png" alt="">
        </div>
    </div>

    <div class="zero"></div>

    <!-- Блок для звёзд -->
    <section class="stars-section" id="stars-section">
        <h2>Звезды</h2>
        {% include 'astro_objects/includes/star-grid.html' %}

        <!-- Навигация по страницам звёзд -->
        {% if page_obj_stars.has_other_pages %}
            {% include 'astro_objects/includes/pagination_star.html' with page_obj=page_obj_stars param_name="page-star" %}
        {% endif %}
    </section>

    <!-- Блок для планет -->
    <section class="planets-section" id="planets-section">
        <h2>Планеты</h2>
        {% include 'astro_objects/includes/planet-grid.html' %}

        <!-- Навигация по страницам планет -->
        {% if page_obj_planets.has_other_pages %}
            {% include 'astro_objects/includes/pagination_planet.html' with page_obj=page_obj_planets param_name="page-planet" %}
        {% endif %}
    </section>
{% endblock %}
