{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}


<div class="container">
    <div class="planet-card">
        <div class="planet-photo">
            {% if planet.photo %}
                <img src="{{ planet.photo.url }}" alt="Фото планеты {{ planet.name }}">
            {% else %}
                {# <img src="#" alt="Фото отсутствует"> #}
            {% endif %}
        </div>

        <div class="planet-detail-info">
            <h1>{{ planet.name }}</h1>
            <p>{{ planet.description }}</p>

            <table class="details-table">
                <tr><td>Планетарная система</td><td>{{ planet.planetary_system }}</td></tr>
                <tr><td>Возраст</td><td>{{ planet.aged }} миллиардов</td></tr>
            </table>
                
        </div>
    </div>
</div>

<header class="header">
       <h2>Объекты в той же системе:</h2>
</header>

<div class="mini-cards">
    <div class="mini-card-p">
        {% for planet in planets %}
            <div class="mini-planet">
                <img src="{{ planet.photo.url }}" alt="Фото планеты {{ planet.name }}">
                <p>{{ planet.name }}</p>
            </div>
        {% empty %}
            <p>Нет планет в данной системе.</p>
        {% endfor %}
    </div>

    <div class="mini-card-s">
        {% for star in stars %}
            <div class="mini-star">
                <img src="{{ star.photo.url }}" alt="Фото звезды {{ star.name }}">
                <p>{{ star.name }}</p>
            </div>
        {% empty %}
            <p>Нет звёзд в данной системе.</p>
        {% endfor %}
    </div>
</div>


<a href="{% url 'home' %}" class="back-link">← Вернуться обратно</a>

{% endblock %}



