{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}



<div class="planet-card-d">
    <div class="planet-photo">
        {% if planet.photo %}
            <img src="{{ planet.photo.url }}" alt="Фото планеты {{ planet.name }}">
        {% else %}
            {# <img src="#" alt="Фото отсутствует"> #}
        {% endif %}
    </div>

    <h1>{{ planet.name }}</h1>
    <div class="planet-detail-info">
        <div class="main-detail">
            <table class="details-table">
                <tr><td>Планетарная система</td><td>{{ planet.planetary_system }}</td></tr>
                <tr><td>Возраст</td><td>{{ planet.aged }} миллиардов</td></tr>
            </table>
        </div>
        
        <div class="description">
            <p>{{ planet.description }}</p>
        </div>
        
               
    </div>
</div>


<div class="obj">
       <h2>Объекты в той же системе:</h2>
</div>

<div class="mini-cards">
    <div class="mini-card-p">
        {% for planet in planets %}
            <a href="{{ planet.get_absolute_url }}">
                <div class="mini-planet">
                    <img src="{{ planet.photo.url }}" alt="Фото планеты {{ planet.name }}">
                    <p>{{ planet.name }}</p>
                </div>
            </a>
        {% empty %}
            <p>Нет планет в данной системе.</p>
        {% endfor %}
    </div>

    <div class="zero"></div>

    <div class="mini-card-s">
        {% for star in stars %}
            <a href="{{ star.get_absolute_url }}">
                <div class="mini-star">
                    <img src="{{ star.photo.url }}" alt="Фото звезды {{ star.name }}">
                    <p>{{ star.name }}</p>
                </div>
            </a>
        {% empty %}
            <p>Нет звёзд в данной системе.</p>
        {% endfor %}
    </div>
</div>
<div class="zero"></div>
<a href="{% url 'home' %}" class="back-link" style="border: solid rgb(255, 255, 255) 1px; padding: 5px; border-radius: 5px;">← Вернуться обратно</a>
<div class="zero"></div>

{% endblock %}



