{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}



<div class="star-card-d">
    <div class="star-photo">
        {% if star.photo %}
            <img src="{{ star.photo.url }}" alt="Фото звезды {{ star.name }}">
        {% else %}
            {# <img src="#" alt="Фото отсутствует"> #}
        {% endif %}
    </div>

    <h1>{{ star.name }}</h1>
    <div class="star-detail-info">
        
        <div class="main-detail">
            <table class="details-table">
                <tr><td>Планетарная система</td><td>{{ star.get_planetary_system }}</td></tr>
                <tr>
                    <td>Статус</td><td>{{ star.status }}</td>
                </tr>
                <tr><td>Возраст</td><td>{{ star.aged }} миллиардов</td></tr>
            </table>
        </div>
        <div class="description">
            <p>{{ star.description }}</p>
        </div>        
    </div>
</div>

<div class="zero"></div>

<div class="obj">
       <h2>Объекты в той же системе:</h2>
</div>

<div class="mini-cards">
    <div class="mini-card-p">
        {% for planet in planets %}
            <div class="mini-planet">
                <img src="{{ planet.photo.url }}" alt="Фото планеты {{ planet.name }}">
                <p>{{ planet.name }}</p>
            </div>
        {% empty %}
            <p>Нет планет в данной системе.</p>
        {% endfor %}
    </div>
    
    <div class="zero"></div>

    <div class="mini-card-s">
        {% for star in stars %}
            <div class="mini-star">
                <img src="{{ star.photo.url }}" alt="Фото звезды {{ star.name }}">
                <p>{{ star.name }}</p>
            </div>
        {% empty %}
            <p>Нет звёзд в данной системе.</p>
        {% endfor %}
    </div>
</div>
<div class="zero"></div>
</div>
   <a href="{% url 'home' %}" class="back-link" style="border: solid rgb(255, 255, 255) 1px; padding: 5px; border-radius: 5px;">← Вернуться обратно</a>
<div class="zero"></div>
   {% endblock %}

