
<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Astro{% endblock %}</title>
</head>
<body>
    <header class="header">
        <ul id="navbar">
            <li><a href="{% url 'home'%}" style="font-size: 40px;">Astro</a></li>
            <li><a href="{% url 'home' %}#about">о нас</a></li>
            <li><a href="{% url 'home' %}#stars-section">звёзды</a></li>
            <li><a href="{% url 'home' %}#planets-section">планеты</a></li>

        </ul>
    </header>

    <div class="zero"></div>
    <div class="zero"></div>


    <div class="container">
        <div id="bg-layer"> <img src="'/static/css/image/фон.jpg'" alt=""></div>
        {% block content %}
        {% endblock %}
    </div>
    

</body>
</html>